.header {
    padding-top: 21px;
    padding-bottom: 20px;

    .box {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 93px;
        height: 38.145px;
        margin-right: 81px;
    }

    &__nav {
        margin-right: auto;
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__content {
        color: var(--white--color);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
    }

    &__img {
        width: 9px;
        height: 9px;
        transform: rotate(-180deg);
    }

    &__catalog {
        display: flex;
        align-items: center;
        gap: 51px;
    }

    &__thing {}

    &__theme {
        width: 40px;
        height: 20px;
        display: block;
        background-color: var(--gray-color);
        border-radius: 11px;
        cursor: pointer;
        position: relative;
        transition: 0.3s;

        &::after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0px;
            background-color: white;
            border: 1px solid var(--black-color);
            border-radius: 50%;
            background-image: url("../../../img/sun-icon.webp");
            background-size: 15px 14px;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.3s;
        }

        &-toggle {
            width: 0;
            height: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
        }

        &-toggle:checked+&::after {
            left: 19.5px;
            background-color: var(--black-color);
            background-image: url("../../img/moon-icon.webp");
        }

    }

    &__text {
        color: var(--black-color);
        font-family: "Montserrat Alternates";
        font-size: 12px;
        font-weight: 400;
    }
}